@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4 w-25" src="~/images/svg/logo-color.svg" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Project NoVi</h1>
        <p class="text-white-50 mb-0">Vic Hazewinkel</p>
    </div>
</div>
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Team Optiek NoVi</h2>
                <p class="lead">@Localizer["Intro"]</p>
                <p class="mb-0">@Localizer["Intro2"]</p>
            </div>
        </div>
    </div>
</section>
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">@Localizer["Contact"]</h2>
                <p class="card-text">Optiek NoVi</p>
                <p class="card-text">Quai de l'Industrie 170</p>
                <p class="card-text">1070 Anderlecht</p>
                <p class="card-text"> </p>
                <p class="card-text">025233737</p>
            </div>
            <div class="card-footer"><a class="" href="#!"></a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">@Localizer["Opening_hours"]</h2>
                <p class="card-text fw-bold">@Localizer["Opening_hours1"]</p>
                <p class="card-text">@Localizer["Opening_hours2"]</p>
                <p class="card-text fw-bold">@Localizer["Opening_hours3"]</p>
                <p class="card-text">@Localizer["Opening_hours4"]</p>
            </div>
            <div class="card-footer"><a class="" href="#!"></a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <img class="img-fluid rounded-circle mb-4" src="~/images/png/logo-no-background.png"/>
            </div
        </div>
    </div>
</div>
        </div>
