@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<ProjectNoVi_V3.Web.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Optometrist") || User.IsInRole("Admin"))
    {
        <h1>@Localizer["ProdyctManagment"]</h1>
        <p>
            <a asp-action="Create">@Localizer["add_Product"]</a>
        </p>
    } 
    else 
    {
    <h1>@Localizer["OnsAanbod"]</h1>
    }
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collectie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materiaal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correctie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerkId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collectie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materiaal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correctie)
            </td>
                @if (User.IsInRole("Optometrist") || User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a asp-action="AddToCard" asp-route-id="@item.Id">Add To Card</a>
                    </td>
                } 
        </tr>
}
    </tbody>
</table>*@

<div class="row pd-3">
    @foreach (var item in Model) 
{
    <div class="col-lg-3 col-md-6"> 
        <div class="row p-2">
            <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                <div class="card">
                    <img class="card-img-top rounded" src="~/images/png/logo-color.png"/>
                    <div class="pl-1">
                        <p class="card-title text-info"> @Html.DisplayFor(modelItem => item.Type)</p>
                        <p class="card-title h5 text-primary"> @Html.DisplayFor(modelItem => item.MerkName)</p>
                    </div>
                    <div>
                            <p class="card-title text-secondary">@Localizer["Collectie"]: @Html.DisplayFor(modelItem => item.Collectie)</p>
                    </div>
                    <div>
                            <p class="card-title text-secondary">@Localizer["Kleur"]: @Html.DisplayFor(modelItem => item.Kleur)</p>
                            <p class="card-title text-secondary">@Localizer["Materiaal"]: @Html.DisplayFor(modelItem => item.Materiaal)</p>
                            <p class="card-title text-secondary">@Localizer["Prijs"]: @Html.DisplayFor(modelItem => item.Prijs)</p>
                    </div>
                    @*
                    <div>
                            <a class="btn btn-primary form-control" asp-controller="ShoppingCartControllerV2" asp-action="Index">@Localizer["Add"]</a>
                    </div>
                    *@
                    <div> 
                        @if (User.IsInRole("Optometrist") || User.IsInRole("Admin"))
                        {
                            <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                            </td>
                                
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
