@model IEnumerable<ProjectNoVi_V3.Web.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Ons Aanbod</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collectie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materiaal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correctie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerkId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collectie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materiaal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correctie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-action="AddToCard" asp-route-id="@item.Id">Add To Card</a>
            </td>
        </tr>
}
    </tbody>
</table>
